.expire_h {
    text-align: center;
    color: #e1635c !important;
}

#sbi_admin {
    overflow: hidden;
}

#sbi_admin #header {
    padding: 0 0 10px 0;
}

#sbi_admin h3 {
    padding: 15px 0 0 0;
    clear: both;
}

#sbi_admin .sbi_tooltip {
    width: 80%;
    display: none;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 13px;
    background: #f9f9f9;
    background: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#sbi_admin .sbi_more_info p {
    font-size: 13px;
}

#sbi_admin .sbi_tooltip ul {
    margin-top: 0;
    margin-bottom: 0;
}

#sbi_admin .sbi_tooltip li {
    padding: 4px 0;
}

#sbi_admin .sbi_tooltip_link,
#sbi_admin .sbi_external_link {
    font-size: 13px;
    margin-left: 10px;
}

#sbi_admin hr {
    border: none;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
}


/* Instagram btn */

#sbi_admin .sbi_admin_btn {
    display: block;
    float: left;
    clear: both;
    padding: 0 21px 0 160px;
    height: 47px;
    line-height: 47px;
    background: #386793 url('../img/small-logo.png') no-repeat 16px 11px;
    color: #e9eef3;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#sbi_admin .sbi_admin_btn:hover {
    background-color: #3880c4;
    color: #fff;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#sbi_admin .sbi_note {
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
}

#sbi_admin table.sbi_shortcode_table {
    border-collapse: collapse;
}

#sbi_admin table.sbi_shortcode_table th,
#sbi_admin table.sbi_shortcode_table td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

#sbi_admin table.sbi_shortcode_table th {
    background: rgba(0, 0, 0, 0.1);
}

#sbi_admin table.sbi_shortcode_table td {
    background: rgba(255, 255, 255, 0.5);
}

#sbi_admin .sbi_table_header {
    background: #ddd;
    font-weight: bold;
}

#sbi_admin .sbi_radio_label {
    width: 85px;
    padding-top: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}


/* Config info */

#sbi_config {
    float: left;
    width: 100%;
    clear: both;
    margin: 10px 0 10px 0;
}

#sbi_config_info {
    float: left;
    clear: both;
    padding: 5px 15px;
    margin: 10px 0 0 0;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


/* Locations */

#sbi_admin #sb_instagram_coordinates_options {
    display: none;
    padding: 10px 0;
}

#sbi_admin #sb_instagram_coordinates_options {
    font-size: 12px;
    line-height: 28px;
}

#sbi_admin .sbi_row {
    width: 100%;
    float: left;
    clear: both;
}

#sbi_admin .sbi_col {
    float: left;
}

#sbi_admin .sbi_col.sbi_one {
    width: 115px;
}

#sbi_admin #sb_instagram_coordinates_options .sbi_col.sbi_one {
    width: 70px;
}

#sbi_admin .sbi_col.sbi_two {
    width: 600px;
}

#sbi_admin .sbi_row input[type=radio] {
    margin: 5px 2px 0 0;
}

#sbi_admin .sb_instagram_contents_links {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#sbi_admin .sb_instagram_contents_links a,
#sbi_admin .sb_instagram_contents_links span {
    display: block;
    float: left;
    padding: 2px 5px;
}

#sbi_admin .sb_instagram_contents_links span {
    padding-left: 0;
}

#sbi_admin #sb_instagram_width_options {
    margin-top: 5px;
    display: none;
}

#sbi_admin #sb_instagram_width_options label {
    font-size: 13px;
    position: relative;
    top: -2px;
}


/* License */

#sbi_admin .sbi_license_status {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 5px;
}


/* Add Facebook dashicon to CFF admin menu */

#toplevel_page_sb-instagram-feed .toplevel_page_sb-instagram-feed .wp-menu-image:before {
    content: "\f306";
}


/* Error notice */

#sbi_admin .sbi_notice {
    margin-top: 5px;
    background: #f9ecda;
    padding: 5px 10px;
    border: 1px solid #e89a2e;
    color: #cf6100;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#sbi_admin .sbi_notice a {
    color: #d85600;
}

#sbi_admin .sbi_notice a:hover,
#sbi_admin .sbi_notice a:focus {
    color: #a34100;
}

#sbi_admin .sbi_notice p {
    margin: 0;
    padding: 5px 0;
    font-size: 13px;
}

#sbi_admin .sbi_user_id_error {
    display: none;
    margin: 10px 0;
    background: #F7E6E6;
    padding: 5px 10px;
    border: 1px solid #BA7B7B;
    color: #592626;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#sbi_admin #sb_instagram_header_style_boxed_options {
    display: block;
    float: left;
    clear: both;
    overflow: hidden;
    width: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 22px;
}

#sbi_admin #sb_instagram_header_style_boxed_options p {
    float: left;
    clear: both;
    font-size: 12px;
    line-height: 22px;
    padding: 0 0 10px 0;
}

.sbi-license-expired {
    /*float: left;*/
    clear: both;
    width: 96%;
    margin: 10px 0 20px 0;
    background: #F7E6E6;
    padding: 15px 1.5%;
    border: 1px solid #BA7B7B;
    color: #592626;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sbi-license-expired p {
    /*float: left;*/
    padding: 0;
    margin: 0 5px 0 0;
}

#sbi-why-renew-show,
#sbi-why-renew-hide {
    /*float: left;*/
}

#sbi-why-renew {
    /*float: left;*/
    clear: both;
    width: 100%;
}

#sbi-why-renew h4 {
    /*float: left;*/
    clear: both;
    margin: 15px 0 0 0;
}

#sbi-why-renew p {
    margin: 0;
    clear: both;
}

.sbi-license-countdown {
    background: #fff4c6;
    border: 1px solid #905207;
    color: #905207;
}

#sbi_admin label {
    position: relative;
}

#sbi_admin th {
    position: relative;
}

#sbi_admin .sbi_shortcode {
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 11px;
    float: left;
    width: auto;
    white-space: pre-line;
    line-height: 1.4;
}

#sbi_admin .sbi_shortcode_symbol {
    position: absolute;
    right: -24px;
    bottom: 0px;
    padding: 2px 4px 3px 3px;
    width: auto;
    font-size: 11px;
    margin-left: 5px;
}


/* Quick start */

#sbi_admin .sbi_quickstart {
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 15px 20px;
    border: 1px solid #ccc;
    background: #eee;
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#sbi_admin .sbi_quickstart h3,
#sbi_admin .sbi_quickstart p {
    margin: 0;
    padding: 5px 0;
}


/* Update notice */

.sb_instagram_notice {
    position: relative;
    clear: both;
    width: 96%;
    margin: 20px 0;
    background: #F7E6E6;
    padding: 15px 1.5%;
    border: 1px solid #BA7B7B;
    color: #592626;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sb_instagram_notice .sb_instagram_notice_title {
    font-size: 18px;
    padding-bottom: 5px;
}

.sb_instagram_notice p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.sb_instagram_dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dd3d36;
    text-decoration: none;
}


/* Directions for single post */

#sbi_admin .sbi_single_directions input:hover {
    cursor: pointer;
}

#sbi_admin .sbi_click_area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

#sbi_admin .status {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

#sbi_admin .status-on {
    background-color: #5cb85c;
}

#sbi_admin .status-off {
    background-color: #d9534f;
}

#sbi_admin form .input-checkbox {
    line-height: 35px;
}

#sbi_admin #filterInput {
    background-image: url('../img/search-icon.png');
    background-position: 9px 6px;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    width:100%;
    line-height: 30px;
    color: #666;
    padding: 0 0 0 38px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#sbi_admin .brand_info_sel{
	font-size: 16px;
    color: #f70;
    font-style: italic;
    padding-left:20px;
    margin-bottom:10px;
}
#sbi_admin .brand_sel_item::after{
	content:' , ';
	width:10px;
}

#sbi_admin .brand_sel_item:last-of-type::after{
	content:'';
}

.manage_pages_table {
    width: 100%;
    margin-top: 10px;
}

.manage_pages_table table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.manage_pages_table {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 250px;
    overflow: scroll;
}

.manage_pages_table table td,
.manage_pages_table table th {
    padding: 6px 10px;
}

.manage_pages_table table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}

.manage_pages_table table thead th:first-child {
    border: none;
}

.manage_pages_table table tbody td {
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 14px;
    font-weight: normal;
}

.manage_pages_table table tbody .alt td {
    background: #E1EEF4;
    color: #00496B;
}

.manage_pages_table table tbody td:first-child {
    border-left: none;
}

.manage_pages_table table tbody tr:last-child td {
    border-bottom: none;
}

.manage_pages_table table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEF4;
}

.manage_pages_table table tfoot td {
    padding: 0;
    font-size: 12px
}

.manage_pages_table table tfoot td div {
    padding: 2px;
}

.manage_pages_table table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.manage_pages_table table tfoot li {
    display: inline;
}

.manage_pages_table table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

.manage_pages_table table tfoot ul.active,
.manage_pages_table table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color: #00557F;
}

div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}

.clearfix {
    clear: both;
}
